$COLOR: red;

.product-table {
  thead {
    background-color: $COLOR;
    color: #fff;
  }
}

.delete-icon {
  cursor: pointer;
  color: $COLOR;
}

.edit-icon {
  cursor: pointer;
  color: blueviolet;
}
